body {
  margin: 0;
  font-family:'Lato', sans-serif;
  /*font-family: 'Copernicus', Libre Baskerville, Georgia, serif;;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(233, 229, 205, 0.96);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
